<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1>
          Community
        </h1>
        <p class="link-nav"><a href="">Home </a> <span class="lnr lnr-chevron-right"></span> <a href="/community">
            Community</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start feedback Area -->
<section class="feedback-area aboutus-feedback section-gap" id="feedback">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 pb-60 header-text text-center">
        <h1 class="mb-10">Enjoy our Client’s Feedback</h1>
        <p>
          Who are in extremely love with eco friendly system..
        </p>
      </div>
    </div>
    <div class="row feedback-contents justify-content-center align-items-center">
      <div class="col-lg-6 feedback-left relative d-flex justify-content-center align-items-center">
        <div class="overlay overlay-bg"></div>
        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-btn.png"
            alt=""></a>
      </div>
      <div class="col-lg-6 feedback-right">
        <div class="active-review-carusel">
          <div class="single-feedback-carusel">
            <div class="title d-flex flex-row">
              <h4 class="pb-10">Kelvin M</h4>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>
              I'm absolutely loving this website a lot. These people provide amazing service and stuff.
            </p>
          </div>
          <div class="single-feedback-carusel">
            <div class="title d-flex flex-row">
              <h4 class="pb-10">Kelvin M</h4>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>
              I'm absolutely loving this website a lot. These people provide amazing service and stuff.
            </p>
          </div>
          <div class="single-feedback-carusel">
            <div class="title d-flex flex-row">
              <h4 class="pb-10">Kelvin M</h4>
              <div class="star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked	"></span>
              </div>
            </div>
            <p>
              I'm absolutely loving this website a lot. These people provide amazing service and stuff.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feedback Area -->