<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fillscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-12 col-md-12">
        <h6 class="text-uppercase">Don’t look further, here is the key</h6>
        <h1>
          Daestner Systems and Technology
        </h1>
        <p class="text-white">
          We are proud to have served the region's businesses as Innovative Business Solutions the past three decades.
          Throughout our company's history, we have sought to bring responsive service and common sense solutions to
          our clients' IT concerns.
        </p>
        <a routerLink="/solutions" class="primary-btn header-btn text-uppercase">View Solutions</a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start cat Area -->
<section class="cat-area section-gap aboutus-cat" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="single-cat d-flex flex-column">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-magic-wand"></span></span></a>
          <h4 class="mb-20" style="margin-top: 23px;">Retail</h4>
          <p>
            Whether it's exceeding expectations, earning customer loyalty or rewiring the supply chain, retailers can
            benefit by adopting a fresh digital perspective.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-rocket"></span></span></a>
          <h4 class="mt-40 mb-20">Technology</h4>
          <p>
            Many high-tech companies invest in digital technologies. The most successful are using them strategically
            to lock in growth and generate long-term value.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat">
          <a href="#" class="hb-sm-margin mx-auto d-block"><span class="hb hb-sm inv hb-facebook-inv"><span class="lnr lnr-car"></span></span></a>
          <h4 class="mt-40 mb-20">Distrbution</h4>
          <p>
            Distribution Services can no longer be considered a minor element in the bag of tricks for the average
            industrial distributor. These days, industrial distribution is quickly moving towards a “service first”
            model.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End cat Area -->
<!-- Start home-about Area -->
<section class="home-about-area section-gap" id="about">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 col-md-11 home-about-left">
        <h6>Brand new app to blow your mind</h6>
        <h1>
          <b>Talk Buy</b> <br>
          Change your shopping Experience
        </h1>
        <p class="sub">We are here to listen from you deliver exellence</p>
        <p class="pb-20">
          Mobile commerce is one of the fast growing retail business in the new economy and is no longer regarded as a
          luxury for retailers it had fast become a necessity. For Consumers to wait in queue is now the least shopping
          experience of the new generation in-store shopping experience. Daestner systems offers a wide range of mobile
          retail products and services which assist businesses to engage more consumers and offer tailor-made, shopping
          experience.
        </p>
        <a class="primary-btn" href="#">Visit Talk Buy</a>
      </div>
      <div class="col-lg-3 col-md-1 home-about-right relative">
      </div>
    </div>
  </div>
</section>
<!-- End home-about Area -->