<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1>
          Our Solutions
        </h1>
        <p class="link-nav">
          <a routerLink="/">Home </a>
          <span class="lnr lnr-chevron-right"></span>
          <a routerLink="/Solutions" (click)="unselect()">Solutions</a>
          <span class="lnr lnr-chevron-right" *ngIf="service"></span>
          <a *ngIf="service">{{service.name}}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area">
  <div class="container" *ngIf="!service">
    <div class="row p-5">
      <p class="col-1 offset-1">
        <img src="assets/img/quote.png" width="50" />
      </p>
      <p class="text-center col-9">
        <br />
        We are proud to have served the region's businesses as Innovative Business Systems
        the
        past three decades. Throughout our company's history, we have sought to bring responsive service and
        common
        sense solutions to our clients' IT concerns.</p>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of services">
        <div class="single-service" (click)="select(item)">
          <div class="thumb">
            <img src="{{item.image}}" alt="">
          </div>
          <h4>{{item.name}}</h4>
          <p>{{item.description | slice:0:200}}......
          </p>
          <button class="primary-btn header-btn text-uppercase">Learn More</button>
          <br />
          <hr />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="service">
    <app-service-details [service]="service"></app-service-details>
  </div>
</section>
<!-- End service Area -->