<header id="header" id="home">
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a routerLink="/home"><img width="150" src="assets/img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="nav-item waves-light">
            <a class="nav-link" routerLink="/industries" routerLinkActive="menu-active">Industries</a>
          </li>
          <li class="nav-item waves-light">
            <a class="nav-link" routerLink="/solutions" routerLinkActive="menu-active">Solutions</a>
          </li>
          <li class="nav-item waves-light">
            <a class="nav-link" routerLink="/products" routerLinkActive="menu-active">Products</a>
          </li>
          <li class="nav-item waves-light">
            <a class="nav-link" routerLink="/community" routerLinkActive="menu-active">Community</a>
          </li>
          <li class="nav-item waves-light">
            <a class="nav-link" routerLink="/about" routerLinkActive="menu-active">About</a>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header>