<!-- Start home-about Area -->
<section class="home-about-area section-gap">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 col-md-12">
        <h6>Get the best from the best</h6>
        <h1>
          <b>{{service.name}}</b> <br>
        </h1>
        <br />
        <p class="pb-20 spacer">
          {{service.description}}
        </p>
      </div>
      <img class="col-lg-5 col-md-12" src="{{service.image}}" alt="Card image cap">
      <div class="col-lg-12 home-about-left">
        <br />
        <br />
        <br />
        <p class="pb-20 spacer">
          {{service.more_description}}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End home-about Area -->