
<!-- Start home-about Area -->
<section class="home-about-area section-gap" id="about">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 col-md-11 home-about-left">
        <h6>Get the best from the best</h6>
        <h1>
          <b>{{service.name}}</b> <br>
        </h1>
        <p class="pb-20">
          {{service.description}}
        </p>
      </div>
      <img class="col-lg-3 col-md-1" src="{{service.image}}" alt="Card image cap">
    </div>
  </div>
</section>
<!-- End home-about Area -->